@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans&family=Poppins:wght@500;600&family=Work+Sans:wght@400;500&display=swap');

* {
    margin: 0;
}

/* Common styles */
body {
    font-family: 'EB Garamond', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header styles */
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    padding: 0 200px;
}

.nav-title {
    font-style: Bold;
    font-size: 45px;
    color: #131313;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* main section styles */
main {
    max-width: 1200px;
    margin: 0 auto;
}

/* Architecture Group styles */
.arc-group {
    width: 860px;
    height: 225px;
    margin-top: 100px;
    margin-left: 150px;
}

.arc-group-info {
    text-align: center;
}

.arc-title {
    font-style: Bold;
    font-size: 64px;
    color: #131313;
}

.arc-description {
    margin-top: 10px;
    color: #727272;
}

.btn-primary {
    margin-top: 50px;
    background-color: #FF900E;
    border: none;
    color: #FFFFFF;
    padding: 20px 24px;
    border-radius: 5%;
}

/* Banner style  */
.bannar {
    height: 700px;
}

.banner img {
    width: 100%;
}

/*--- Feature styles--- */
.features {
    margin-top: 65px;
}

.feature {
    display: flex;
    gap: 73px;
}

.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.feature-images img {
    height: 342px;
    width: 342px;
}

.feature-info {
    width: 537px;
    height: 304px;
    margin-top: 300px;
}

.feature-title {
    font-size: 45px;
    margin-bottom: 24px;
}

.list-1 {
    color: #727272;
}

.list-2 {
    color: #131313;
}

.list-3 {
    color: #FF900E;
}

.feature-description {
    color: #727272;
}