* {
    margin: 0;
}

/* header styles */
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    padding: 0 200px;
}

.nav-title {
    font-style: Bold;
    font-size: 45px;
    color: #131313;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav li a {
    text-decoration: none;
    color: #424242;
}