@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans&family=Poppins:wght@500;600&family=Work+Sans:wght@400;500&display=swap');

* {
    margin: 0;
}

/* Common styles */
body {
    font-family: 'EB Garamond', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;

}


/* header styles */
.header {
    background-color: papayawhip;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    padding: 0 200px;
}

.nav-title {
    font-style: Bold;
    font-size: 45px;
    color: #131313;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav li a {
    text-decoration: none;
    color: #424242;
}



/* Architecture Group styles */
.arc-group {
    width: 860px;
    height: 225px;
    margin-top: 100px;
    margin-left: 150px;
}

.arc-group-info {
    text-align: center;
}

.arc-title {
    font-style: Bold;
    font-size: 64px;
    color: #131313;
}

.arc-description {
    margin-top: 10px;
    color: #727272;
}

.btn-primary {
    margin-top: 50px;
    background-color: #FF900E;
    border: none;
    color: #FFFFFF;
    padding: 20px 24px;
    border-radius: 5%;
}

/* Banner style  */
.bannar {
    height: 700px;
}

.banner img {
    width: 1100px;
    height: 700px;
    margin-left: 10%;
}

/* main section styles */
main {
    max-width: 1200px;
    margin: 0 auto;
}

/*--- Feature styles--- */

.features {
    margin-top: 65px;
}

.feature {
    display: flex;
    gap: 73px;
}

.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.feature-images img {
    height: 342px;
    width: 342px;
}

.feature-info {
    width: 537px;
    height: 304px;
    margin-top: 300px;
}

.feature-title {
    font-size: 45px;
    margin-bottom: 24px;
}

.list-1 {
    color: #727272;
}

.list-2 {
    color: #131313;
}

.list-3 {
    color: #FF900E;
}

.feature-description {
    color: #727272;
}

/* Love & Enjoy Styles */
.love-enjoy {
    display: flex;
    margin-top: 130px;
    gap: 54px;
}

.love-enjoy-item {
    width: 514px;
    height: 111px;
    padding: 30px;
}

.love-enjoy-image img {
    width: 800px;
    height: 1059px;
}

.button-experience {
    padding: 45px 40px;
    background-color: #FF900E;
    border: none;
    color: #FFFFFF;
    margin-top: -400px;
    border-radius: 8%;
    font-size: 25px;

}

.button-year {
    font-size: 65px;
    font-style: bold;
}

/* Fact styles */
.some-facts {
    margin-top: 130px;
}

.fact-title {
    color: #131313;
    font-size: 45px;
    margin-bottom: 24px;
}

.fact-description {
    color: #727272;
    width: 50%;
}

.facts-icons-container {
    display: flex;
    padding: 50px 50px;
    justify-content: space-around;

}

.fact-icon {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 60px 35px;
    text-align: center;
}

.fact-icon img {
    height: 45px;
    width: 45px;
    margin-bottom: 10px;
}

.icon-number {
    font-size: 45px;
    font-weight: 600;
    color: #424242;
    margin-bottom: 5px;
}

.icon-text {
    color: #424242;
    font-size: 20px;
}

/* Sponsors styles */
.sponsor {
    text-align: center;
    margin-top: 180px;
}

.sponsor-title {
    font-size: 45px;
    font-style: bold;
    color: #131313;
    margin-bottom: 24px;
}

.sponsor-description {
    color: #727272;
}

.sponsor-image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 130px;
}

/* Footer style  */
.footer {
    text-align: center;
    margin-bottom: 50px;
    color: #424242;
}

@media only screen and (max-width:688px) {

    .header,
    .feature,
    .love-enjoy,
    .some-facts,
    .sponsor {
        width: 100%;
    }


}